body {
	margin: 0;
	font-family: sans-serif;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 960px;
	margin: auto;
	padding-right: 15px;
	padding-left: 15px;
	height: 100%;
}

.note-items{
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(300px, 1fr)
	);
}

.note.new {
	background-color: #a5fff6;
}

textarea {
	border: none;
	resize: none;
	background-color: transparent;
}

textarea:focus {
	outline: none;
}

.save {
	cursor: pointer;
	background-color: #b6c5ff;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.note {
	background-color: #fffdd6;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

.note:hover{
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.edit-delete-icon{
	display: flex;
	align-items: center;
	gap: 1rem;
}

.delete-icon{
	cursor: pointer;
	color: rgb(255, 38, 38);
}

.edit-icon {
	cursor: pointer;
	color: rgb(0, 156, 234);
}

.search {
	display: flex;
	width: 50vw;
	align-items: center;
	gap: 0.6rem;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 2rem;
}

.search input {
	border: none;
	background-color: rgb(233, 233, 233);
	width: 100%;
}

.search input:focus {
	outline: none;
}

.pagination {
	display: flex;
	justify-content: center;
	margin: 1rem;
}

.pagination button {
	margin: 6px;
	padding: 5px;
	font-size: 12px;
	cursor: pointer;
	border-radius: 5px;
	border: none;
}

.pagination .active {
	background-color: #007bff;
	color: white;
}